/*.countrySelect > div {
  display: inline-block;
}*/

/*body {
  background: rgb(0,175,0);
  color: white;
}*/

.hide {
  display: none;
}

#frontPage {
  margin-left: 100px;
  margin-right: 100px;
  /*color: white;*/
  /*min-height: 900px;*/
}

#frontPage li {
  list-style-type: none;
}

#frontPage li img {
  height: 25px;
  /*width: 50px;*/
  padding-left: 25px;
  padding-right: 25px;
}

#frontPage .btn{
  margin-left: auto;
  margin-right: auto;
}

header h1 {
  text-align: center;
}

#fixtureGroupStage {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  /*min-height: 900px;*/
}

#fixtureKnockoutStage {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  /*min-height: 900px;*/
}

#teamPick {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  /*min-height: 900px;*/
}

#tacticChoice li {
  display: inline-block;
  margin: 50px;
}

#matchScreen {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  /*min-height: 900px;*/
}

.pitch * {
  background: green;
  height: 50px;
  width: 150px;
  display: inline-block;
  margin: 0;
  border: 5px solid white;
}

#ball {
  background: blue;
}

#communicationPage {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  /*min-height: 900px;*/
}
